# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# User uploads
uploads/
static/results/

# Generated reports
*.pdf

# Training outputs
runs/

# Virtual environments
venv/
.env

# OS files
.DS_Store
Thumbs.db